<footer class="app-footer">
    <div class="social-media">
        <div class="logo-footer">
            <img ngSrc="./assets/logofooter.png" width="187" height="58">
        </div>
        <div class="logo-media">
            <div class="logo">
                <img ngSrc="./assets/icons/fb.png" width="25" height="25">
            </div>
            <div class="logo">
                <img ngSrc="./assets/icons/ig.png" width="25" height="25">
            </div>
            <div class="logo">
                <img ngSrc="./assets/icons/in.png" width="25" height="25">
            </div>            
        </div>
        <div class="rights-reserved">
            <p>
                Netuno© 2022 - Todos os direitos reservados
            </p>
        </div>
    </div>
    <div class="select-footer"> 
        <div class="caixa-select caixa-select-texto">
            Processo Seletivo
        </div>
    </div>
    <div class="menu-footer">
        <div class="caixa-menu caixa-menu-texto">
            O Projeto
        </div>
        <div class="caixa-menu caixa-menu-texto">
            O Problema
        </div>
        <div class="caixa-menu caixa-menu-texto">
            Sua Jornada
        </div>
        <div class="caixa-menu caixa-menu-texto">
            Objetivos
        </div>
    </div>
    <div class="contact-footer">
        <p class="title-contact">
            Contato
        </p>        
        <p class="text-contact">
            11 91234.5678
        </p>
        <p class="text-contact">
           contato&#64;netuno.com.br
        </p>
    </div>
</footer>