<header class="app-header">
    <div class="logo-header">
        <img ngSrc="/assets/logo.png" width="175" height="36"/>
    </div>
    <div class="menu-header">
        <div class="caixa-menu caixa-menu-texto">
            <a href="#project">O Projeto</a>
        </div>
        <div class="caixa-menu caixa-menu-texto">
            <a href="#problem">O Problema</a>
        </div>
        <div class="caixa-menu caixa-menu-texto">
            <a href="#journey">Sua Jornada</a>
        </div>
        <div class="caixa-menu caixa-menu-texto">
            <a href="#goal">Objetivos</a>
        </div>
    </div>
    <div class="select-header"> 
        <div class="caixa-select caixa-select-texto">
            Processo Seletivo
        </div>
    </div>
</header>
