<app-header></app-header>

<main>
    <section class="main-section">
        <img ngSrc="./assets/bannertopo.png" width="1200" height="1100"/>
        <div class="container-form">
            <div class="container-register">
                <div class="register-title">
                    Formulário de Cadastro
                </div>
                <div class="register-text">
                    Preencha seus dados
                </div>
                <div class="form-group">
                    <input class="input-form" type="text"  placeholder="Nome Completo*">                
                    <input class="input-form" type="text"  placeholder="E-mail*">
                    <input class="input-form" type="text"  placeholder="Estado*">
                </div>
            </div>
            <div class="container-knowledge">
                <div class="knowledge-title">
                    Conhecimento de Programação*
                </div>
                <div class="form-select-1"> 
                    <input type="checkbox">
                    <label for="html">HTML</label>
                    <input type="checkbox" name="css" id="css">
                    <label for="css">CSS</label>
                    <input type="checkbox" name="js" id="js">
                    <label for="js">JavaScript</label>
                    <input type="checkbox" name="php" id="php">
                    <label for="php">PHP</label>
                </div>
                <div class="form-select-2"> 
                    <input type="checkbox">
                    <label for="html">.NET</label>
                    <input type="checkbox" name="css" id="css">
                    <label for="css">Vue.JS</label>
                    <input type="checkbox" name="js" id="js">
                    <label for="js">ReactJS</label>
                    <input type="checkbox" name="php" id="php">
                    <label for="php">React Native</label>
                </div>
                <div class="form-select-3"> 
                    <input type="checkbox">
                    <label for="html">Node</label>
                    <input type="checkbox" name="css" id="css">
                    <label for="css">Python</label>
                    <input type="checkbox" name="js" id="js">
                    <label for="js">Flutter</label>
                    <input type="checkbox" name="php" id="php">
                    <label for="php">Outras</label>
                </div>
            </div>
            <div class="container-work">
                <div class="work-title">
                    Já trabalhou com desenvolvimento?
                </div>
                <div class="form-select-work">
                    <input type="checkbox">
                    <label for="no">Não</label>
                    <input type="checkbox">
                    <label for="no">Sim</label>
                </div>
                <div class="message">
                    (*) Campos obrigatórios
                </div>
                <div class="button">
                    <button type="submit">Enviar</button>
                </div>
                <div class="politic-text">
                    <p>Ao clicar em enviar, você concorda com todos os termos de uso de dados descritos em <span>política de privacidade.</span></p>
                </div>
            </div>
        </div>
    </section>
    <section class="project-section" id="project">
        <div class="image-project">
            <img ngSrc="./assets/dev.png" width="534" height="461"/>
        </div>
        <div class="text-project">
            <div class="text-title">
                O Projeto
            </div>
            <p>
                Com o “novo normal” causado pela pandemia dos últimos anos, mais empresas no mundo todo têm aberto oportunidades no modelo Home Office.
                Alinhado a depreciação da moeda local, temos um alto índice de profissionais migrando para trabalhos em outros países
            </p>
            <span class="span-2">
                O projeto Netuno, idealizado pela Fasters, tem por objetivo reduzir os estresses causados por recrutamento e turn over na área de tecnologia, bem como gerar oportunidades de carreira para novos profissionais.
            </span>
        </div>
    </section>
    <section class="problem-section" id="problem">
        <div class="container-problem">
            <img ngSrc="./assets/Container2.png" width="545" height="770">     
            <div class="problem-text">
                <div class="problem-title">
                    O Problema
                </div>
                <p class="text-1">Falta de profissionais de TI no Mercado brasileiro: um problema que demanda atenção urgente.</p>
                <p class="text-2">Estima-se que atualmente tenhamos um déficit de 408 mil postos de trabalho, com perdas se acumulando na casa dos R$167 bilhões, de acordo com a Softex, uma organização social voltada ao fomento da área de TI.</p>
                <p class="text-3">Um dos principais fatores dessa falta de profissionais é o êxodo de profissionais para o exterior.</p>
            </div>
        </div>
        <div class="container-cards">
            <div class="menu-card">
                <p class="card-title">
                    Oportunidade
                </p>
                <p class="card-text">
                    Acreditamos que a combinação de interesse, dedicação e oportunidade pode causar um grande impacto nas pessoas, nas organizações e no mundo.
                </p>
            </div>
            <div class="menu-card">
                <p class="card-title">
                    Comunidade
                </p>
                <p class="card-text">
                    Dentro de um grupo de pessoas mais experientes e acessíveis, a curva de aprendizado ocorre de forma mais rápida, fluída e eficiente.
                </p>
            </div>
            <div class="menu-card">
                <p class="card-title">
                    Experiencia Real
                </p>
                <p class="card-text">
                    Entendemos que somente as experiências reais poderão trazer a bagagem que a teoria não o pode fazer.
                </p>
            </div>
        </div>
    </section>
    <section class="journey-section" id="journey">
        <div class="journey-title">
            <img class="img-left" ngSrc="./assets/elements/Vector2.png" width="700" height="10">
            <span class="title">
                Sua Jornada
            </span>
            <img ngSrc="./assets/elements/Vector2.png" width="800" height="10">
        </div>   
        <div class="container-journey-cards">
            <div class="journey-card">
                <div class="icon-card">
                    <img ngSrc="./assets/icons/calendario.png" width="25" height="25">
                </div>
                <div class="text-card">
                    Programas de 4 meses de duração, sendo 6 horas/dia.
                </div>
            </div>
            <div class="journey-card">
                <div class="icon-card">
                    <img ngSrc="./assets/icons/medalha.png" width="25" height="25">
                </div>
                <div class="text-card">
                    Do Zero ao Junior Promissor em 4 meses.
                </div>
            </div>
            <div class="journey-card">
                <div class="icon-card">
                    <img ngSrc="./assets/icons/relogio.png" width="25" height="25">
                </div>
                <div class="text-card">
                    640 horas de aplicação prática dos conceitos.
                </div>
            </div>
        </div>   
        <div class="container-journey-cards">
            <div class="journey-card">
                <div class="icon-card">
                    <img ngSrc="./assets/icons/home.png" width="25" height="25">
                </div>
                <div class="text-card">
                    Mentoria individual e coletiva em padrão ágil.
                </div>
            </div>
            <div class="journey-card">
                <div class="icon-card">
                    <img ngSrc="./assets/icons/group.png" width="25" height="25">
                </div>
                <div class="text-card">
                    100% Home Office com plataformas de cursos online.
                </div>
            </div>
            <div class="journey-card">
                <div class="icon-card">
                    <img ngSrc="./assets/icons/target.png" width="25" height="25">
                </div>
                <div class="text-card">
                    Variedade de áreas dentro da tecnologia.
                </div>
            </div>
        </div> 
        <div class="container-button">
            <div class="journey-buttom">
                <span class="text-write">
                    Quero me cadastrar para o
                </span>
                <span class="text-blue">
                    Processo Seletivo
                </span>
                <img ngSrc="./assets/icons/enter.png" width="25" height="25">   
            </div>
        </div>  
        <div class="container-vector">
            <img ngSrc="./assets/elements/Vector1.png" width="206" height="30">
        </div>
    </section>
    <section class="goal-section" id="goal">
        <p class="title-goal">
            Objetivos
        </p>
        <div class="container-cards">
            <div class="menu-card">
                <p class="card-title">
                    Otimizar
                </p>
                <p class="card-text">
                    Otimizar todo processo de contratação chegando a contribuir com uma economia de 40% no processo de recrutamento.
                </p>
            </div>
            <div class="menu-card">
                <p class="card-title">
                    Gerar
                </p>
                <p class="card-text">
                    Gerar novas oportunidades de carreira para pessoas interessadas em ingressar na área ou migrar de outras áreas que esteja descontente.
                </p>
            </div>
            <div class="menu-card">
                <p class="card-title">
                    Filtrar
                </p>
                <p class="card-text">
                    Criar oportunidades brilhantes para profissionais que se destacarem junto a parceiros estratégicos de negócios.
                </p>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>
